@font-face { 
    font-family: Muli; 
    src: url('fonts/Muli-Regular.ttf'); 
} 

* {
    font-family: Muli
}

body {
    background-color: #1E1E1E;
    background-size: cover no-repeat center; 
    color:black;
}

nav {
    position: absolute;
    left: 74%;
    top: 10px;
    word-spacing: 10px;
    font-size: 20px;
    background-color:#EEEEEE; 
    color:#1E1E1E;
    padding: 10px 5px 0 60px;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: #1E1E1E;
}

a:hover {
    color:#53a7ea;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #1E1E1E;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 300px;
    cursor: pointer;
}

  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
  
  /* Add a background color and some padding around the form */
.content {
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    top: 15%;
    left: 10%;
}

.formspree {
      position: fixed;
      float: right;
      left: 79%;
}