@font-face { 
    font-family: Muli; 
    src: url('fonts/Muli-Regular.ttf'); 
} 

@font-face {
    font-family: PWStrokes;
    src: url('fonts/PWStrokes.ttf');
}

* {
    font-family: Muli
}

body {
    background-color: #1E1E1E;
    background-size: cover no-repeat center; 
    color:white;
}

nav {
    position: absolute;
    left: 74%;
    top: 10px;
    word-spacing: 10px;
    font-size: 20px;
    background-color:#EEEEEE; 
    color:#1E1E1E;
    padding: 10px 5px 0 60px;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: #1E1E1E;
}

a:hover {
    color:#53a7ea;
}

.profile {
    margin: 0px 0;
    float: left;
}

#sidebar {
    padding: 30px 30px 10px 30px;
    position: fixed;
    left: 0px;
    top: 0px;
    border-right: 1px solid white;
    height: 100%;
    width: 20%;
    border-radius: 0px;
}

.userpic img {
    margin: 0 auto;
    height: 250px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 2px solid black;
}

.name {
    color: #5a7391;
    font-size: 23px;
    font-weight: 600;

    text-align: center;
    padding-top: 10px;
}

.job {
    color: #5b9bd1;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    height: 50px;
}

.buttons a {
    margin-top: 10px;
    color: black;
    
}

.buttons a:hover {
    background-color: #1E1E1E;
    text-shadow: 2px 2px 5px #1E1E1E;
}

.content {
        position: fixed;
        top: 20%;
        left: 43%;
        padding: 20px;
        min-height: 460px;
        font-family: PWStrokes;
        font-size: 100px;
}

.cv {
    position: fixed;
    bottom: 5px;
    left: 12px;
    width: 350px;
    background-color: 	#1E1E1E; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cv:hover {
    background-color: white;
    color: black;
}

/*GitHub Activity*/
#github {
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    color: black;
    padding: 60px;
    list-style-type: none;
    background-color:#EEEEEE; 
    width: 100%;
}

.collapsegithub {
    position: fixed;
    width: 230px;
    top: 60%;
    left:50%;
    background-color: transparent;
    border: 0px;

}

.card {
    position: fixed;
    top: 70%;
    left: 35%;
}

span:after,
span:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

/* Animation To Arrow In GitHub Activity Drop Down Start */
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
}

@-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

  /*Animation End*/

.tooltip {
    width: 800%;
}

.fa-question {
    color:white;
}

.card a:active {
    color:white;
}

.card a:visited {
    color:white;
}

.card a:link {
    color:white;
}