@font-face { 
    font-family: Muli; 
    src: url('fonts/Muli-Regular.ttf'); 
} 

@font-face {
    font-family: PWStrokes;
    src: url('fonts/PWStrokes.ttf');
}

@font-face {
    font-family: Amethyst;
    src: url('fonts/Amethyst.ttf');
}

* {
    font-family: Muli
}

body {
    background-color: #1E1E1E;
    background-size: cover no-repeat center; 
    color:white;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* Changes Dimensions If Screen Width Is 768px or Less - Start */
@media (max-width: 768px) {
    #sidebar {
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: 0px;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*End*/

#projects {
    font-family: Amethyst;
    text-align: center;
}

#contact {
    font-family: Amethyst;
    text-align: center;
    padding-bottom: 50px;
}

#sidebar h3 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.7em;
    color: #5a7391;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: -30px;
}

#sidebar h4 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.7em;
    color: #5b9bd1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: -18px;
   
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    text-shadow: black;;
}

/*Sidebar Start*/
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #eee;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #eee;
}

.sidebar-header img {
    border-radius: 50%;
    width: 80%;
    border: 1px black solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar p {
    color: #fff;
    padding: 10px;
}

#sidebar li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
    color: black;
    
}

#sidebar li a:hover {
    color: #7386D5;
    background: #1E1E1E;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.btn-dark {
    background: #1E1E1E;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
}

.btn-dark:hover {
    background: transparent;
    border: 2px solid #1E1E1E;
    color: #1E1E1E;
}

.source {
    background: transparent;
    border: 2px solid #1E1E1E;
    color: #1E1E1E;
}

.source:hover {
    background: #1E1E1E;
    color:#eee;
    
}

/*Sidebar End*/

/* Content Start*/
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eee;
    margin: 40px 0;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}


#sidebarCollapse {
    background: #eee;
    color: #1E1E1E;
    border: 2px solid #1E1E1E;
}

.devtext {
    font-family: PWStrokes;
    font-size: 4.2em;
    display: block;
    text-align: center;
}

.front-end {
        font-family: PWStrokes;
        font-size: 4.2em;
        display: block;
        text-align: center; 
}
.collapsegithub {
    display:block;
    background-color: transparent;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    position: absolute;
    top: 700px;
    left: 300px;
    width: 200%;
}

.collapsegithub span:after,
.collapsegithub span:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

/* Animation To Arrow In GitHub Activity Drop Down Start */
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
}

@-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

@keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
}

  /*Animation End*/

.fa-question {
    color:white;
}

/*Project Cards*/
.box span {
    font-size:15px;
    color: #1E1E1E;
}

.box fab {
    color: #1E1E1E;
    padding-bottom: 500px;
}

.box {
        padding:60px 0px;
        
}

.box-part {
        background:#FFF;
        border-radius:0;
        padding:60px 10px;
        margin:30px 0px;
        height: 300px;

        color:#1E1E1E;
}

.box-part:hover {
    color: #53a7ea;
}

.text {
        margin:20px 0px;
        
} 

/*Project Cards End*/

/*Contact Form - Start*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
}
  
 
input[type=submit] {
    background-color: #1E1E1E;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 200px;
    cursor: pointer;
}

  
input[type=submit]:hover {
    background-color: transparent;
    color: #1E1E1E;
    border: 2px solid #1E1E1E;
}
  
 
.form {
    background-color: #f2f2f2;
    color: #1E1E1E;
    padding: 20px;
    display: inline-block;
    margin-right:0 auto;
    width: 100%;
}

.formspree {
    padding-top:10px;
}
/*Contact Form - End*/
/* Content End*/