@font-face { 
    font-family: Muli; 
    src: url('fonts/Muli-Regular.ttf'); 
} 

* {
    font-family: Muli
}

body {
    background-color: #1E1E1E;
    background-size: cover no-repeat center; 
    color:black;
}

nav {
    position: absolute;
    left: 74%;
    top: 10px;
    word-spacing: 10px;
    font-size: 20px;
    background-color:#EEEEEE; 
    color:#1E1E1E;
    padding: 10px 5px 0 60px;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: #1E1E1E;
}

a:hover {
    color:#53a7ea;
}

/*Project Cards Start*/
span {
    font-size:15px;
}

.box {
        padding:60px 0px;
        
}

.box-part {
        background:#FFF;
        border-radius:0;
        padding:60px 10px;
        margin:30px 0px;
        height: 300px;
}

.box-part:hover {
    color: #53a7ea;
}

.text {
        margin:20px 0px;
} 

.fa {
         color:#4183D7;
}
/*Project Cards Start*/